
<!doctype>
<html>
{{> head }}
<body>
    <header>
        <h2>Tech Terms</h2>
        <nav>
            <p><a href="/">Home</a> | <a href="./about">About</a></p>
        </nav>
    <hr>
    {{{body}}}
    <hr>
    <footer>&copy; Mitchell Thompson</footer>
</body>
</html>